* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #213547;
    font-family: "Poppins", serif;
}

body #root {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

svg {
    width: 100px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 0 0 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.212);
}

input {
    border: none;
    border-radius: 20px;
    padding: 0 10px;
}

h1 {
    margin: 10px 0;
}


section {       
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

section label {
    text-align: start;
    display: flex;
    justify-content: space-between;
}

section p {
    margin-bottom: 10px;
    text-align: start;
    font-weight: bold;
}   

button {
    transition: transform 100ms ease-out;
}

.btn:active {
    transform: scale(0.9);
}

.display-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    width: 1100px;
    height: 750px;
    margin: 0 20px;
    border-radius: 20px;
    background-color: #2135476e;
}

/* .education, .work-exp {
    display: flex;
    justify-content: space-around;
    } */
    
    .display-value section {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 200px 200px;
        padding: 10px 50px;
    }

    .display-value li {
        list-style: none;
        display: flex;
        gap: 10px;
    }

    .display-value li svg {
        width: 30px;
        margin: 0 10px 0 0;
    }

    .display-value h1 {
        margin: 0;
    }