* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #213547;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.212);
}

h1 {
    margin: 10px 0;
}

section {       
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

section label {
    text-align: start;
    display: flex;
    justify-content: space-between;
}

section p {
    margin-bottom: 10px;
    text-align: start;
    font-weight: bold;
}   